sbversion=Beta v. Offended Koala
author=dangerpeanut
email=dangerpeanut.net@gmail.com
modsdir=/crunchy/alex/starbound_mod/modfolders/
infodir=/crunchy/alex/starbound_mod/modinfo
starboundassets=/crunchy/alex/starbound_vanilla/assets
builddir=/crunchy/alex/starbound_mod/builtmods
sbdirtree=dirtree.zip
binbash=/usr/local/bin/bash
packscript=/crunchy/alex/starbound_mod/starshed/scripts/packmod.sh
emptydirscript=/crunchy/alex/starbound_mod/starshed/scripts/cleanempties.sh
